{
  "env": {
    "development": {
      "presets": [["env", {
        "targets": {
          "node": "current"
        },
        "modules": false
      }]]
    },
    "production": {
      "presets": [["env", {
        "targets": {
          "node": "current"
        },
        "modules": false
      }],
    "minify"]
    },
    "unittest" : {
      "presets": [["env", {
        "targets": {
          "node": "current"
        }
      }]]
    }
  }
}